<div class="header-container" ><mat-toolbar color="primary">Weather App</mat-toolbar></div>
<div class="query-container">
  
  <form [formGroup]="weatherQueryForm" (ngSubmit)="onFormSubmit(weatherQueryForm.value)"> 
  <mat-form-field>
    <mat-select matInput formControlName="region" placeholder="Select Region">
      <mat-option *ngFor="let region of regions" [value]="region">{{region}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group matInput class="example-radio-group" formControlName="metric" >
      <mat-radio-button class="example-radio-button" *ngFor="let metric of metrics"
       [value]="metric" >  {{metric}}&nbsp;&nbsp;
      </mat-radio-button>
    </mat-radio-group>

  <mat-form-field>
      <input matInput [matDatepicker]="picker1" formControlName="startDate" placeholder="Start Date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker2" formControlName="endDate" placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    <button mat-raised-button color="primary">Draw Chart</button>

  </form>   
  <div *ngIf="error.isError" style="color: red">
      {{ error.errorMessage }}
   </div>

</div>
<div>
  <canvas id="canvas">{{ chart }}</canvas>
</div>